<h1>New Link</h1>
<form action="/new_link" method="post">
	<label for="account_id">Account ID:</label><br />
	<input id="account_id" name="link[account_id]" type="text" value="<%= @id %>" />
	<br />

	<label for="campaign_url">Campaign URL:</label><br />
	<input id="campaign_url" name="link[campaign_url]" type="text" />
	<br />

	<label for="campaign_source">Campaign Source:</label><br />
	<input id="campaign_source" name="link[campaign_source]" type="text" />
	<br />

	<label for="campaign_medium">Campaign Medium:</label><br />
	<input id="campaign_medium" name="link[campaign_medium]" type="text" />
	<br />

	<label for="campaign_term">Campaign Term:</label><br />
	<input id="campaign_term" name="link[campaign_term]" type="text" />
	<br />

	<label for="campaign_content">Campaign Content:</label><br />
	<input id="campaign_content" name="link[campaign_content]" type="text" />
	<br />

	<label for="campaign_name">Campaign Name:</label><br />
	<input id="campaign_name" name="link[campaign_name]" type="text" />
	<br />
	
	<button type="submit">Save</button>
</form>   